/* You can customize theme styles here */
/* #e83e8c*/
.education::before
{
  background-color: #b54088;
  left:-10px;
  width: 5px;
  transform: skewY(0deg);
}

.col-12
{
  padding-top: 20px;
  flex-grow: 2;
}
